/*@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Anonymous+Pro:400,700,400italic,700italic|Merriweather:400,700,300);*/

/*@import url(http://fonts.googleapis.com/css?family=Metrophobic|Syncopate);*/
/** {
  font-family: 'Anonymous Pro', Verdana, sans-serif;
}

h1 > a {
  font-family: 'Merriweather', Verdana, sans-serif;
}

div.urls > p >  a {
  font-family: 'Anonymous+Pro', Verdana, sans-serif;
}*/

nav {
	background: white
}
	
#nav.affix {
    top: 20px;
}

.nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

#nav .nav>.active>a, #nav .nav>.active:hover>a, #nav .nav>.active:focus>a {
  font-weight: 700;
  color: #333;
  background-color: transparent;
  display: block;
}

#nav .nav > .active .nav {
  display: block;
  padding-left: 20px;
}

#nav .nav > .active > .nav > .active > a {
  font-weight: 700;
}

#nav .nav .nav {
  display: none;
  padding-left: 20px;
}

#nav .nav > .active > .nav > a {
  font-weight: 500;
}

body {
  text-rendering: optimizeLegibility;
}

div.loading {
  background-image: url('../images/712.GIF');
  background-repeat: no-repeat;
  background-position: center;
}
div.thumbnail > iframe {
  display:block;
  position:relative;
  overflow:hidden;
  border: 0px;
}
video.video {
  padding: 0;
}